@import url("whitespace-reset.css");

body {
  background: linear-gradient(rgb(210,220,190), rgb(251,254,245)) no-repeat;
  color: rgb(62,96,111);
  font: normal 18px "Roboto Condensed", sans-serif;
}

header {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 20px;
  width: 960px;
}

header img {
  float: left;
}

h1 {
  color: rgb(25,52,65);
  float: left;
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  padding: 45px 0 15px 15px;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

nav {
  float: right;
  padding: 75px 0 0 0;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav a {
  background: rgb(252, 255, 245);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgb(145, 170, 155);
  display: block;
  padding: 15px 40px;
  text-decoration: none;
}

nav a.highlight {
  background: rgb(145, 170, 155);
  color:rgb(252, 255, 245);
}

main {
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0 5px 5px #b5b5b5;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px;
  width: 960px;
}

img.masthead {
  padding-bottom: 18px; 
}

img.article {
  float: right;
  padding: 0 0 15px 30px;
}

footer {
  margin: 0 auto;
  width: 960px;
}

footer p {
  font-size: 14px;
}